<div class="container" style="text-align: center;">
  <div class="row">
    <h1 class="text-center col-md-12 p-5">REST OF COUNTRY API REGIONS</h1>
  </div>

  <br>

  
<div class="row">
  <div class="card border border-black col-md-6">
    <img class="card-img-top img-fluid" src="../../assets/Images/Africa.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Africa</h3>
      <div class="card-footer text-muted">
      <button type="button" class="btn btn-danger" [routerLink]="['/all-countries/africa']">View Detail Countries</button>
      </div>
    </div>
  </div>
  
  <div class="card border border-black col-md-6">
    <img class="card-img-top img-fluid" src="../../assets/Images/Americans.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Americas</h3>
      <div class="card-footer text-muted">
      <button type="button" class="btn btn-danger" [routerLink]="['/all-countries/americas']">View Detail Countries</button>
      </div>
    </div>
  </div>


  <div class="card border border-black  col-md-6">
    <img class="card-img-top " src="../../assets/Images/Asia.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Asia</h3>
      <div class="card-footer text-muted">
      <button type="button" class="btn btn-danger" [routerLink]="['/all-countries/asia']">View Detail Countries</button>
      </div>
    </div>
  </div>
  
  <div class="card border border-black col-md-6">
    <img class="card-img-top " src="../../assets/Images/Europe.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Europe</h3>
      <div class="card-footer text-muted">
      <button type="button" class="btn btn-danger" [routerLink]="['/all-countries/europe']">View Detail Countries</button>
      </div>
    </div>
  </div>
  
  <div class="card border border-black col-md-6">
    <img class="card-img-top" src="../../assets/Images/Oceania.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Oceania</h3>
      <div class="card-footer text-muted">
      <button type="button" class="btn btn-danger" [routerLink]="['/all-countries/oceania']">View Detail Countries</button>
      </div>
    </div>
  </div>
</div>
</div>
